.globe-container {
  width: 100%;
  height: 100%;
  min-height: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

canvas {
  width: 1200px !important;
  height: 1200px !important;
  display: block;
}
